<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
    <title>{{ title }}</title>
    {% if description %}
      <meta name="Description" content="{{ description }}">
    {% endif %}
    <script src="https://www.desmos.com/api/v1.9/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">
        <h1>Desmos Wiki
          <span class="unofficial">(Unofficial)</span>
        </h1>
      </a>
    </header>
    <nav class="breadcrumbs">
      {{ collections.all | eleventyNavigationBreadcrumb: eleventyNavigation.key, includeSelf: true | eleventyNavigationToHtml }}
    </nav>
    <main>
      <h1>{{ title }}</h1>
      {{ content }}
    </main>
  </body>
</html>