<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
    <title>{{ title }}</title>
    {% if description %}
      <meta name="Description" content="{{ description }}">
    {% endif %}    
    {% desmosSupport "dcb31709b452b1cf9dc26972add0fda6" %}
  </head>
  <body>
    <header class="header-side-by-side">
      <a href="{{ '/' | url }}">
        <h1>Desmos Wiki
          <span class="unofficial">(Unofficial)</span>
        </h1>
      </a>
      <button id="light-dark-toggle"></button>
    </header>
    <div class="main-content-side-by-side">
      <nav class="header-nav">
        <span class="header-nav-title">{{ title }}</span>
        {% generateHeaderNav content %}
      </nav>
      <main>
        <h1>{{ title }}</h1>
        <ul class="tags">
          {% for tag in tags %}
            <li class="tag">
              <a href="{{ "/tag/" | append: tag | url }}/">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
        {% contentTransform, collections.all, page.url %}
          {{content}}
        {% endcontentTransform %}
      </main>
    </div>
    <script>
      const ldt = document.getElementById("light-dark-toggle");

      let colorScheme = localStorage.getItem("color-scheme");

      if (!colorScheme) {
        localStorage.setItem("color-scheme", "light");
        let colorScheme = "light";
      }

      function setTheme() {
        const colorScheme = localStorage.getItem("color-scheme");

        document.body.classList.toggle("dark", colorScheme === "dark");

        ldt.innerText = colorScheme === "light" ? "â˜€ï¸" : "ðŸŒ™"
      }
      
      ldt.onclick = () => {
        localStorage.setItem("color-scheme", 
          localStorage.getItem("color-scheme") === "light" ? "dark" : "light")
        setTheme();
      }

      setTheme();
    </script>
  </body>
</html>