<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
    <title>{{ title }}</title>
    {% if description %}
      <meta name="Description" content="{{ description }}">
    {% endif %}
    <script src="https://www.desmos.com/api/v1.9/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">
        <h1>Desmos Wiki
          <span class="unofficial">(Unofficial)</span>
        </h1>
      </a>
    </header>
    <nav class="breadcrumbs">
      {% if eleventyNavigation %}
        {% assign breadcrumbs = collections.all | eleventyNavigationBreadcrumb: eleventyNavigation.key %}
        <ul>
          {% for breadcrumb in breadcrumbs %}
            <li>
              <a href="{{ breadcrumb.url | url }}">{{ breadcrumb.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
    <div class="main-content-side-by-side">
      <nav class="header-nav">
        <span class="header-nav-title">{{ title }}</span>
        {% generateHeaderNav content %}
      </nav>
      <main>
        <h1>{{ title }}</h1>
        <ul class="tags">
          {% for tag in tags %}
            <li class="tag">
              <a href="{{ "/tag/" | append: tag | url }}/">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
        {% contentTransform, collections.all, page.url %}
          {{content}}
        {% endcontentTransform %}
      </main>
    </div>
    <script>
      function addDesmosEmbed(calcContainer) {
        let observer = new IntersectionObserver(() => {
          let graphstate = JSON.parse(calcContainer.children[0].innerText);
          let settings = JSON.parse(calcContainer.children[1].innerText);
          calcContainer.innerHTML = "";
          let Calc = Desmos.GraphingCalculator(calcContainer, settings);
          Calc.setState(graphstate);
        });
        observer.observe(calcContainer);
      }

      for (const calcContainer of document.querySelectorAll(".desmos-container")) {
        addDesmosEmbed(calcContainer);
        calcContainer.classList.toggle("invisible", false);
      }

      for (const staticMathContainer of document.querySelectorAll(".static-math-container")) {
        let shouldHaveCopyButton = staticMathContainer.classList.contains("has-copy-button");
        const content = staticMathContainer.innerText;
        staticMathContainer.innerHTML = "";
        const rootblock = document.createElement("span");
        rootblock.classList.toggle("dcg-mq-root-block", true);
        staticMathContainer.appendChild(rootblock);
        const staticMath = Desmos.MathQuill.StaticMath(rootblock);
        staticMath.latex(content);

        if (shouldHaveCopyButton) {
          const copyButton = document.createElement("button");
          copyButton.innerText = "Copy to Clipboard"
          staticMathContainer.appendChild(copyButton);
          copyButton.onclick = () => {
            navigator.clipboard.writeText(content);
            copyButton.innerText = "Copied!";
            setTimeout(() => {
              copyButton.innerHTML = "Copy to Clipboard";
            }, 750);
          }
        }
      }
    </script>
  </body>
</html>